
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
   }
  body{
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 80px;
  }
  .body-content{
   text-align: center;
   align-items: center;
   justify-content: center;
  }
  /* header styles */
  header{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 150px;
  }
  .banner-content{
    align-items: center;
    width: 900px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
 .btn-1{
    background-color: rgba(13, 19, 33, 1.00);
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
 }
 /* main styles */

 main{
   justify-content: center;
    align-content: center;
    
 }
 .color2{color: rgba(19, 19, 33, 0.70);}
 .btn-2{
    height: 30px;
    width: 100px;
 }
 .middle{margin-bottom: 150px;}
 .border{
   box-sizing: content-box;
   width: 900px;
   border-width: 5px;
  
 }
 .middle-item{
    display: flex;
    justify-content: space-between;
    text-align: left;
 }
 .section-title{
   text-align: center;
 }
 .description{
   font-weight:200px;
   color: rgba(19, 19, 33, 0.70);
 }

/* My current target styles */
.languages{
   display: flex;
   gap: 25px;
}
.language{
   padding: 30px;
   border-radius: 15px;
   text-align: left;
}
.HTML{
   background-color: rgba(255, 76, 30, 0.16);}
.CSS{
   background-color: rgba(0, 76, 232, 0.09);
}
.JavaScript{
   background-color: rgba(255, 223, 0, 0.09)
}

/* footer styles */
footer{
  margin: 150px 0px;
}
.footer-content1{
   background-image: url('../assets/handshake.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 10px;
   text-align: center;
   align-items: center;
   justify-content: center;
   height: 350px;
}

.footer-content-text{
   color: #FFFFFF;
}
.btn-3{
   height: 50px;
   width: 150px;
   font-size: 20px;
   font-weight: bold;
   border-radius: 10px;

}
footer input[type=text]{
height: 50px;
width: 500px;
font-size: 15px;
font-weight: bold;
border-radius: 10px;
text-align: center;
}
.footer-content2{
   margin-top: 50px;
   text-align: left;
   display: flex;
   justify-content: space-between;
}